@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    font-family: quicksand;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-height: 100vh;
}
.empty{
    width: 100vw;
    height: 20px;
}

body{
    background: rgb(39, 56, 70);
    overflow-x: hidden;
}




/****************************** NAVIGATION AND CIRCLE SETTINGS */
.circle{
    box-shadow: 0 0 10px black;
    z-index: 10;
    height: 200px;
    width: 200px;
    background: white;
    position: fixed;
    border-radius: 50%;
    left: -100px;
    top: -100px;
    transition: transform .5s linear;
}
.circle.nav-open{
    transform: rotate(-90deg);

}
.open{
    color: steelblue;
    text-transform: uppercase;
    position: absolute;
    top: 65%;
    left: 60%;
}
.close{
    color: steelblue;
    text-transform: uppercase;
    position: absolute;
    top: 65%;
    left: 18%;
    transform: rotate(90deg);
}
.open:hover{
    cursor: pointer;
}
.close:hover{
    cursor: pointer;
}

nav{
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: white;
    list-style-type: none;
    font-size: 2rem;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 3vh;
}
nav li:nth-child(2){
    padding-left: 20px;
}
nav li:nth-child(3){
    padding-left: 30px;
}
nav li:nth-child(4){
    padding-left: 40px;
}




/*************************************** INDEX MAIN CONTENT */
main{
    box-shadow: -5px 5px 10px black;
    transition: transform .5s linear;
    transform-origin: top left;
    background: steelblue;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    margin: 0px;
}
main.nav-open{
    transform: rotate(-15deg);
    transform-origin: top left;
}



#video-banner{
    display: block;
    max-width: 80vw;
    max-height: 90vh;
    border-radius: 20px;
    margin: 20px auto;
    animation: blur 2s;
}
@keyframes blur{
    0%{filter: blur(30px);}
    100%{filter: blur(0);}
}
#video-banner:focus{
    outline: none;
}


/*********************************** ABOUT PAGE */
header{
    background-color: slategrey;
    color: rgb(39, 56, 70);
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 2px 5px black;

}

#info-video{
    max-width: 80vw;
    min-height: 90vh;
    display: block;
    margin: auto;
    border-radius: 20px;
}
#info-video:focus{
    outline: none;
}


.article-container{
    display: block;
    margin: 50px;
    /* background: rgba(255, 255, 255, 0.25);
    border-radius: 30px; */
}

section{
    background: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    margin: 20px 0 20px 0;
    padding: 50px;
    width: 80%;
    display: flex;
    /* transform: translateX(-200%); */
    transition: translate ;
}
section.even{
    margin: auto 0 auto auto;
}

/* section.active{
    transform: translateX(0);
}
section.active2{
    transform: translateX(calc(33% + 50px));
} */


article{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
article h2{
    font-size: 30px;
    padding-bottom: 10px;
}
article p{
    font-size: 20px;
}
section img{
    max-width: 50%;
    max-height: 50vh;
    padding: 20px;
    border-radius: 25px;
}



/******************************** PHOTO GALLERY SETTINGS */
.gallery{
    display: flex;
    margin: auto;
    background: slategrey;
    width: 90vw;
    height: 90vh;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 2px 5px black;
}
.image-box{
    flex: 1;
    overflow: hidden;
    width: 10%;
    border-radius: 20px;
    margin: 10px;
    transition: flex .5s linear;
    background-size: cover;
    background-position: center top;
    position: relative;
}
.image-box img{
    min-height: 100%;
    border-radius: 20px;
    display: block;
    margin: auto;
}
.image-box h1{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    color: slategrey;
    display: none;
}

.image-box.active{
    flex: 20;
}
.image-box.active h1{
    display: table;
}




/******************************************* CONTACT US */
#question-box{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

#form-text-area{
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s ease-out;
}
#form-text-area.active{
    display: block;
    transform: scaleY(1);
}
#form-text-area:focus{
    outline: none;
}



.button-container{
    display: flex;
}
.button{
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 2px 2px;
    outline: none;
}
.button:active{
    transform: translateY(2px);
}
#submit-button{
    transform: scaleY(0);
}
#submit-button.active{
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s ease-out .5s;
}






/************************************ FOOTER SETTINGS */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(39, 56, 70);
    height: 10vh;
    width: 100%;
    background: slategrey;
    box-shadow: 0 2px 5px black;
}